.render-button {

    display: inline-block;
    background-color: #FFFFFF;
    position: absolute;
    top: 90%;
    left: 40%;
}

.p5-button {
    display: inline-block;
    position: absolute;
    z-index: 4;
}

.loading-text {
    position: absolute;
    top: 50%;
    left:50%;
    font-size: 4em;
}

.mainsidemenu-parent {
    position: absolute;
    text-align: center;

}

.react-p5 {
     z-index:3;
     position: absolute;
     top:0em;
     left:0em;
}

.p5Canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    left: -50%;
    z-index:-3
  }

.mainmenu {
    z-index:3;
    opacity: 0;
    display: inline-block;
    background-color: #0C2659;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -250px;
    width: 400px;
    height: 500px;
    text-align: center;
    color: white;
    border: #005F7E;
    border-style: solid;
    border-width: 0.5em;
    box-shadow: 0px 0px 50px 1px #0C2659;
    
}

.number {
    position: absolute;
    left: 45%;
    top: 40%;
    color:white;
    font-size:8em;
    margin: 0em;
}

.songList {
    margin: 2em;
    text-align: left;
    transition: all .2s ease-in-out;
    height: 80%;
    overflow-y: scroll;
    border: #00C0FD;
    border-style: solid;
}

.songList:hover {
    text-align: left;

}

.title {
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

.song-entry {
    grid-column: auto;
    transition: all .2s ease-in-out;
    border: #00C0FD;
    border-style: solid;
    border-width: .1em;
    height:25%;
    overflow: hidden;
}

.song-entry:hover {
    height: 40%;
}

.song-name {
    transform: unset;
}


.song-desc {
    margin: 0.2rem;
    transform: unset;
    font-size: 1rem;

}

.song-length {
    position: relative;
    margin: 0.2rem;
    transform: unset;
    font-size: 1rem;
    font-weight: bold;
    float: right;
    bottom: 3em;
    right:1em;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #005F7E; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #005F7E; 
  }
