@font-face {
  font-family: 'Rockwell';
  src: local('Rockwell'), url(./fonts/Rockwell.otf) format('otf');
}
body {
  background-color: #00020B;
}

.App {
  text-align: center;

}

.p5Canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  left: 0;
  z-index:-3
}

.echo-architect {
  position: absolute;
  font-size: 7.5em;
  top: 15%;
  left:29%;
  font-family: "Rockwell";
  color: rgb(66, 179, 255);
  text-shadow: 0 0 1px rgb(66, 179, 255);
  opacity: 1;
}

.particles {
  opacity: 25%;
  top: 0em;
  z-index: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
}
.App-logo {
  position: absolute;
  opacity: 0;
  height: 10vmin;
  pointer-events: none;
  top:50%;
  left: 47%;
  animation: App-logo-spin 3s infinite linear;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.render-button {
  width: 100%;
  height: 100%;
  z-index: 6;
}

.click-anywhere {
  z-index: 1;
  top:70%;
  font-size: 1.5em;
  color: #c1e6ff;
  text-shadow: 0 0 5px rgba(0, 153, 255, 0.486);
  letter-spacing: 0.3em;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;  
  position: absolute;
  left: 42%;
  font-stretch:expanded; 
}


.p5-button {
  z-index: 1;
  top:80%;

}

.notif-button {
  
  padding: 1em;
  z-index: 1;
  position: absolute;
  top: 5%;
  left: 5%;
  background-color: rgb(2, 43, 70);
  color: white;
  font-size: 2em;
  font-weight: bold;
  box-shadow: 5px 10px #046FB7;
  text-shadow: 0 0 5px rgb(8, 141, 230);

}

.list-item {
  font-family: "Rockwell";
  font-size: 1em;
  margin: 0;
  letter-spacing: 0.0625em;
}