body {
  background-color: #00020B;
}

.App {
  text-align: center;

}

.p5Canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  left: 0;
  z-index:-3
}

.particles {
  opacity: 25%;
  top: 0em;
  z-index: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
}
.App-logo {
  position: absolute;
  opacity: 0;
  height: 10vmin;
  pointer-events: none;
  top:40%;
  left: 45%;
  animation: App-logo-spin 3s infinite linear;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.render-button {
  z-index: 1;
  top:80%;

}

.p5-button {
  z-index: 1;
  top:80%;

}

.notif-button {
  z-index: 1;
  display: inline;
  position: relative;

}